body {
    background-color: black;
}

.btn1 {
    border: None;
    background-color: aquamarine;
    width: 250px;
    height: 250px;
    margin: 400px;
    border-radius: 45px;
}

.btn1:hover{
    box-shadow: 0px 0px 1000px rgb(83, 247, 192);
}


