.gavni {
        font-family: Alice;
}

Body {
        background-color: #9FA8DA;
        position: absolute;
        left: 50%;
        width: 1200px;
        margin-left: -600px;



}


Header {
        display: flex;

        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 10px;

}


.logo div{
  display: inline-block;

}

.auth {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 250px;
}


.auth button {
      background-color: #A7DCF9;
      border-radius: 7px;
      font-size: 25px;
      border: None;
      padding: 3px;

}

.Contact span{
  display: block;
  font-size: 12px;
  margin-left: 7px;
  font-weight: bold;
}


.QUIKSPB span{
        font-size: 45px;
        font-weight: bold;
        text-shadow: 5px 3px 5px gray;
}



.navigation {
  display: flex;
  justify-content:  space-around;
  align-items: space;
  padding: 25px;
  background-color: #92D1F0;
}

.navigation span {
  font-size: 25px;
}

.navigat {
  border-right: 2px solid #8A92BF;
  padding-right: 70px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 700px;
  background-image: url('image/photo_2024-11-26_17-25-19.jpg');
  object-fit: cover;

  background-size: 100%
}

.text span{
  display: block;
}



.poisk{
  background-color: white;
  border-radius: 30px;
  display: flex;

  align-items: center;
  justify-content: center;
  width: 315px;
  height: 45px;
}

.poisk input {
  border: none;
  border-radius: 30px;
  font-size: 20px;
  outline: 0;
  margin: 7px;


}

#QUIKSPB{
  font-size: 28px;
  font-weight: bold;
  text-shadow: 5px 3px 5px gray;
}


#tyronspb{
  font-weight: bold;
  font-size: 15px;
}


input:hover{
  outline: 0;
}

.poisk img {
  width: 35px;
  height: 35px;
}

.content{
  display: flex;
  flex-direction: column;
  background-color: #bee6fb;
}


.content img{
  width: 300px;
  height: 200px;
  border-radius: 20px;
  filter: drop-shadow(20px 20px 15px #88afb3);
}
.content div {
  padding: 20px;
}

.content1 {
  display: flex;
}

.content2 {
  display: flex;
}

.content3 {
  display: flex;
}

footer {
  width: auto;
  height: auto;
  background-color: #92D1F0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}

.footernumber span{
  display: block;
  font-weight: bold;

}

.action span {
  padding-right: 70px;
  color: #1c6185;
  border-right: 2px solid #8A92BF;
}

.buttonsactions {
  display: flex;
  justify-content: space-around;
  margin: 25px;

}


.tur {
  border: None;
  width: 300px;
  height: 80px;
  background-color: white;
  color: black;
  border-radius: 10px;
  font-size: 27px;

}



.ffffff {
  background-color: white;
  margin-top: 35px;
  border-radius: 10px;
  width: 300px;
  height: 600px;
}

.sha span{

  text-align: center;
  background-color: #8A92BF;
  margin-left: 230px;
  width: 200px;
  border-radius: 8px;
  padding-right: 5px

}

.actions1 p{
  text-align: center;
  font-size: 17px;
}

.actions1 span {
  font-weight: bold;
}

.actions3 p{
  text-align: center;
  font-size: 17px;
}

.actions3 span {
  font-weight: bold;
}

#GG3 {
  font-size: 18px;
  font-weight: bold;
}

.actions2 p{
  text-align: center;
  font-size: 17px;
}

.actions2 span {
  font-weight: bold;
}

#GG1 {
  font-size: 18px;
  font-weight: bold;
}

#GG2 {
  font-size: 18px;
  font-weight: bold;
}

.actionsimg1 {
  background-image: url("image/photo_2024-12-03_17-32-01.jpg");
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.actionsimg2 {
  background-image: url("image/photo_2024-12-03_17-31-48.jpg");
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.actionsimg3 {
  background-image: url("image/photo_2024-12-03_17-32-01.jpg");
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.actionsbut button{
  font-size: 15px;
  border-radius: 15px;
  border: None;
  font-weight: bold;
  background-color: #92D1F0;
  margin: 7px;
  height: 28px;

}

.actionsbut {
  display: flex;
  justify-content: space-around;
  padding: 7px;
}

.actions {
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
  padding-bottom: 50px;
  background-color: #bee6fb
}

.actions1 {

}
